<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="msn2.net.Pictures.Properties.Settings.picdbConnectionString"
            connectionString="Data Source=stan.sp.msn2.net;Initial Catalog=picdb;Persist Security Info=True;User ID=PictureAdminUser;Password=si82izmwiae2"
            providerName="System.Data.SqlClient" />
        <add name="msn2.net.Pictures.Properties.Settings.picdbConnectionString1"
            connectionString="Data Source=stan;Initial Catalog=picdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>