<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="msn2.net.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="msn2.net.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
</configSections>
<appSettings><add key="msn2.net.Configuration.ProjectFServices.DataService" value="http://localhost/ProjectFServices/DataService.asmx"/></appSettings><userSettings>
        <msn2.net.Configuration.Properties.Settings />
    </userSettings>
                                                                                                                                                      <applicationSettings>
                                                                                                                                                                                                                                                                                                            <msn2.net.Configuration.Properties.Settings>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                  <setting name="msn2_net_Configuration_ProjectFServices_DataService"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        serializeAs="String">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <value>http://localhost/ProjectFServices/DataService.asmx</value>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                  </setting>
                                                                                                                                                                                                                                                                                                            </msn2.net.Configuration.Properties.Settings>
                                                                                                                                                      </applicationSettings>
                                                                                                                                                      </configuration>
