body 
{
	font-family: 'Segoe UI', Tahoma, arial, Helvetica, sans-serif;
	color: #000;
    border: 0px;
    margin: 0px;
}

.mainContent
{
	padding: 5px;
}

.computerList
{
    padding: 0px 6px 0px 6px;
}

.computerImage
{
	float:left;
}

.computerName
{
	padding-top: 5px;	
	padding-left: 5px;
	font-weight:bolder;
	float:left;		
	width: 100px;
}

.computerUptime
{
	float:left;
	vertical-align:middle;	
    font-size: smaller;
    padding-bottom: 5px;
}

.computerWakeUp
{
    font-size: smaller;
}


.formWrapper
{
	border: 1px solid #e3ebf6;
	padding: 10px;
	margin-bottom: 10px;
}
fieldset
{
	border: none;
	margin: 0 0 0 0;
	padding: 8px 8px 0 8px;
}
fieldset.legend
{
	border: 1px solid #ccc;
	margin: 0 0 10px 0;
}
fieldset.legend
{
	font-weight: bold;
}
.formField
{   
    clear: both;
    padding: 0;
}
.formLabel,
.formInputText
{
    padding: 0 5px 10px 0;
}
.formLabel
{
	width: 150px;
	float: left;
	text-align: right;
}

.formInputText input
{
	width: 200px;
}


A:link {
	text-decoration: none;
	color: navy
}
.headerLink A:link {
	text-decoration: none;
	color:white
}

.headerLink A:visited {
	text-decoration: none;
	color:white
}
	.subheader {
	font-size: x-small;
	padding-top: 4px;
	margin-bottom: -2px;
}
	.topsubheader {
	font-size: x-small;
	margin-bottom: -2px;
}
