<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StatusMonitor.Settings.WakeOnLanConnectionString"
            connectionString="Data Source=randy;Initial Catalog=WakeOnLan;Persist Security Info=True;User ID=WakeOnLanUser;Password=WoL1!3-1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>