<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWakeOnLanStatusService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ts.msn2.net/WakeOnLanStatusService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWakeOnLanStatusService"
                contract="WOLStatus.IWakeOnLanStatusService" name="BasicHttpBinding_IWakeOnLanStatusService" />
        </client>
    </system.serviceModel>
</configuration>
