<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="msn2.net.ShoppingList.Properties.Settings.ShoppingListConnectionString"
            connectionString="Data Source=randy;Initial Catalog=ShoppingList;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>