<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="msn2.net.ShoppingList.Properties.Settings.ShoppingListConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=ListGo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>