BODY
{
    BACKGROUND-COLOR: white;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10pt
}
P
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10pt
}
TD
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10pt
}
TABLE.header
{
    BACKGROUND-COLOR: silver;
    BORDER-BOTTOM: black 1px solid;
    BORDER-LEFT: black 1px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid
}
