.clsButton
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT-COLOR: #808080;
    BORDER-BOTTOM-COLOR: #c0c0c0;
    COLOR: #ffffff;
    BORDER-TOP-COLOR: #808080;
    FONT-FAMILY: Verdana, Arial, Sans-Serif;
    BACKGROUND-COLOR: #000080;
    BORDER-RIGHT-COLOR: #c0c0c0
}
.clsErrorText
{
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Sans-Serif
}
.clsHeaderText
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: #003399;
    FONT-FAMILY: Verdana, Arial, Sans-Serif
}
.clsHeadingText
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    FONT-FAMILY: Verdana, Arial, Sans-Serif
}
.clsInputBox
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Sans-Serif;
    BACKGROUND-COLOR: #dfdfdf
}
.clsNoteHead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #c0e0ff;
    FONT-STYLE: italic
}
.clsNoteTable
{
    BORDER-RIGHT: #000000 2px solid;
    BORDER-TOP: #1658b8 2px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #1658b8 2px solid;
    COLOR: black;
    BORDER-BOTTOM: #000000 2px solid;
    FONT-FAMILY: Verdana, Arial, Sans-Serif;
    BACKGROUND-COLOR: paleturquoise
}
.clsNoteText
{
    FONT-SIZE: 8pt
}
.clsToolbar
{
    COLOR: White;
    font-size: smaller
}

A.clsToolbar A.clsToolbar:link
{
	color: White;
}

A:active
{
    COLOR: aqua
}
A:link
{
    COLOR: #993333;
    FONT-FAMILY: Verdana, Arial, Sans-Serif;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: crimson;
    FONT-FAMILY: Verdana, Arial, Sans-Serif;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: dodgerblue
}
BODY
{
	font-size: 10pt;
	color: #000000;
	font-family: Verdana, Arial, Sans-Serif;
	background-color: #181873;
}
FONT
{
    FONT-FAMILY: Verdana, Arial, Sans-Serif
}

.clsTable
{
	border-right: #606060 1px solid;
	border-top: #808080 1px solid;
	border-left: #808080 1px solid;
	color: black;
	border-bottom: #606060 1px solid;
	font-family: Verdana, Arial, Sans-Serif;
	background-color: #cccccc;
}
.clsTableHeader
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: smaller;
    COLOR: white;
    BACKGROUND-COLOR: midnightblue
}
.clsTableBodyEven
{
	font-size: smaller;
	background-color: gainsboro;
}
.clsTableBodyOdd
{
	font-size: smaller;
	background-color: white;
}
.clsTableFooter
{
    FONT-SIZE: smaller
}
.clsNormalText
{
	font-size: smaller
}
.clsNormalText2
{
	font-size: smaller
}
