BODY
{
    COLOR: black;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: black
}
.clsMenu
{
    FONT-SIZE: smaller
}
.clsFooter
{
    FONT-SIZE: x-small
}
.clsText
{
    FONT-SIZE: smaller;
    FONT-FAMILY: Verdana, Arial
}
P
{
    FONT-SIZE: smaller;
    FONT-FAMILY: Verdana, Arial
}
LI
{
    FONT-SIZE: smaller
}
.req
{
    FONT-WEIGHT: bolder;
    COLOR: red
}
.td1
{
	background-color: whitesmoke;
}
.td2
{
	background-color: #fffae9;
}
