<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="HomeCalendarView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<trace enabled="true" localOnly="false"/>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="Windows"/>
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<applicationSettings>
		<HomeCalendarView.Properties.Settings>
			<setting name="HomeCalendarView_homenet_Lists" serializeAs="String">
				<value>http://home.msn2.net/_vti_bin/Lists.asmx</value>
			</setting>
			<setting name="HomeCalendarView_GovWeatherService_ndfdXML" serializeAs="String">
				<value>http://graphical.weather.gov/xml/SOAP_server/ndfdXMLserver.php</value>
			</setting>
		</HomeCalendarView.Properties.Settings>
	</applicationSettings>
</configuration>
