<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CamAlertService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CamAlertService.Properties.Settings>
            <setting name="LocalMonitorPath" serializeAs="String">
                <value>d:\cams\</value>
            </setting>
            <setting name="ServerPath" serializeAs="String">
                <value>\\192.168.1.25\cams\</value>
            </setting>
            <setting name="ServerUserName" serializeAs="String">
                <value>sp\mc</value>
            </setting>
            <setting name="ServerPassword" serializeAs="String">
                <value>4362</value>
            </setting>
            <setting name="SmtpServer" serializeAs="String">
                <value>192.168.1.25</value>
            </setting>
            <setting name="ErrorMailFrom" serializeAs="String">
                <value>cams@msn2.net</value>
            </setting>
            <setting name="ErrorMailTo" serializeAs="String">
                <value>mike@giesler.org</value>
            </setting>
        </CamAlertService.Properties.Settings>
    </userSettings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="CamServiceLog.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>