<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>\\kenny\wwwroot\aspnet\svc.msn2.net\cal\</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/HomeCalendarView.dll">
      <publishTime>05/05/2012 16:15:25</publishTime>
    </File>
    <File Include="bin/HomeCalendarView.pdb">
      <publishTime>05/05/2012 16:15:25</publishTime>
    </File>
    <File Include="bin/HomeCalendarView.XmlSerializers.dll">
      <publishTime>05/05/2012 16:15:25</publishTime>
    </File>
    <File Include="CalendarItemDisplay.ascx">
      <publishTime>01/02/2011 15:28:09</publishTime>
    </File>
    <File Include="Default.aspx">
      <publishTime>05/05/2012 16:15:10</publishTime>
    </File>
    <File Include="ForecastItem.ascx">
      <publishTime>01/02/2011 15:28:09</publishTime>
    </File>
    <File Include="styles.css">
      <publishTime>05/05/2012 16:07:07</publishTime>
    </File>
    <File Include="WeatherForecastSample.xml">
      <publishTime>01/02/2011 15:28:09</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>05/05/2012 15:03:50</publishTime>
    </File>
    <File Include="Webcam.aspx">
      <publishTime>01/02/2011 15:28:09</publishTime>
    </File>
  </ItemGroup>
</Project>