<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="msn2.net.ShoppingList.Properties.Settings.ShoppingListConnectionString"
            connectionString="Data Source=stan;Initial Catalog=ShoppingList;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="msn2.net.ShoppingList.Properties.Settings.ShoppingListConnectionString1"
            connectionString="Data Source=stan;Initial Catalog=ShoppingList;Persist Security Info=True;User ID=listuser;Password=d82kasd82!23"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>