<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		<add key="ConnectionString" value="data source=stan;initial catalog=picdb;Integrated Security=SSPI;persist security info=False"/>
		<add key="PictureDirectory" value="\\sp\Data\Pictures\pics.msn2.net"/>
		<add key="SMTPServer" value="192.168.1.5"/>
		<add key="PictureCacheLocation" value="\\stan\picCache\"/>
		<add key="PictureLocation" value="\\sp\Data\Pictures\pics.msn2.net"/>
		<add key="PictureDropLocation" value="c:\PicDrop\"/>
		<add key="PictureAutoLogin" value="True"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<httpHandlers>
			<add verb="*" path="GetImage.axd" type="msn2.net.Pictures.GetImageHttpHandler, msn2.net.Pictures"/>
		</httpHandlers>
		<httpModules>
			<add type="msn2.net.Pictures.PicHttpModule, msn2.net.Pictures" name="PictureContextModule"/>
		</httpModules>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="Windows"/>
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    
    <modules>
      <add type="msn2.net.Pictures.GetImageHttpHandler, PictureHttpHelpers" name="PictureContextModule"/>
    </modules>
    <httpModules>
      <add type="msn2.net.Pictures.PicHttpModule, PictureHttpHelpers" name="PictureContextModule"/>
    </httpModules>
    <handlers>
      <add name="GetImage" verb="*" path="GetImage.axd" type="msn2.net.Pictures.GetImageHttpHandler,msn2.net.Pictures"/>
    </handlers>
  </system.webServer>
</configuration>
