<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Live_Client_Id" value="000000004804A11E"/>
    <add key="serverCallSleepTime" value="00:00:00"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <!--
						The <authentication> section enables configuration 
						of the security authentication mode used by 
						ASP.NET to identify an incoming user. 
				-->
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <trace enabled="true" localOnly="false"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
