<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="921e361f-8651-4628-bbf2-354666c99896"
            Publisher="CN=Mike"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>BarMonkeyMetro</DisplayName>
    <PublisherDisplayName>Mike</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>BarMonkeyMetro</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="BarMonkeyMetro.App">
        <VisualElements
            DisplayName="BarMonkeyMetro"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="BarMonkeyMetro"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>