<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="msn2.net.Pictures.Controls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="msn2.net.Pictures.Controls.picsvc.PictureManager" value="http://localhost/pics/PictureManager.asmx" />
    <add key="msn2.net.Pictures.Controls.TerraServer.TerraService" value="http://terraserver-usa.com/terraservice.asmx" />
    <add key="msn2.net.Pictures.Controls.TerraServer.LandmarkService" value="http://terraserver-usa.com/landmarkservice.asmx" />
  </appSettings>
  <applicationSettings>
    <msn2.net.Pictures.Controls.Properties.Settings>
      <setting name="msn2_net_Pictures_Controls_TerraServer_TerraService" serializeAs="String">
        <value>http://terraserver-usa.com/terraservice.asmx</value>
      </setting>
    </msn2.net.Pictures.Controls.Properties.Settings>
  </applicationSettings>
</configuration>