<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="msn2.net.Pictures.Controls.picsvc.PictureManager" value="http://localhost/pics/PictureManager.asmx" />
    <add key="msn2.net.Pictures.Controls.TerraServer.TerraService" value="http://terraserver-usa.com/terraservice.asmx" />
    <add key="msn2.net.Pictures.Controls.TerraServer.LandmarkService" value="http://terraserver-usa.com/landmarkservice.asmx" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>