vti_encoding:SR|utf8-nl
http\://mike.giesler.org:index.html
/:submit.asp tsweb/default.htm feedback.asp
http\://www.microsoft.com/technet/win2000/inmnwp.asp:tsweb/readme.htm
http\://www.microsoft.com/smsmgmt/deployment/default.asp:tsweb/readme.htm
http\://installassistant.com:index.html
http\://msdn.microsoft.com/isapi/msdnlib.idc?theurl=/library/psdk/termserv/wtsapi_9t2r.htm .:tsweb/webclient.doc
http\://www.microsoft.com/msdownload/platformsdk/instmsi.htm:tsweb/readme.htm
http\://rgiesler.com:index.html
http\://www.microsoft.com/technet/win2000/inttips.asp:tsweb/readme.htm
http\://www.microsoft.com/windows2000:tsweb/default.htm
clsid\:1fb464c8-09bb-4017-a2f5-eb742f04392f:tsweb/manyservers.htm tsweb/connect.asp
http\://msn2.net:index.html
