<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="data source=barbrady;initial catalog=picdb;Integrated Security=SSPI;persist security info=False"/>
		<add key="PictureDirectory" value="\\sp\Data\Pictures\pics.msn2.net"/>
		<add key="SMTPServer" value="192.168.1.5"/>
		<add key="PictureCacheLocation" value="\\ike\picCache\"/>
		<add key="PictureLocation" value="\\sp\Data\Pictures\pics.msn2.net"/>
	</appSettings>
	<system.web>
		<httpHandlers>
			<add verb="*" path="GetImage.axd" type="msn2.net.Pictures.Website.GetImage,__code"/>
		</httpHandlers>
		<httpModules>
			<add type="msn2.net.Pictures.PicModule, msn2.net.Pictures" name="PictureContextModule"/>
		</httpModules>
		<compilation defaultLanguage="c#" debug="true">
			<compilers>
				<compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE"/>
			</compilers>
	<assemblies>
		<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<customErrors mode="Off"/>
		<authentication mode="Forms">
			<forms name="pics" loginUrl="Auth/Login.aspx" protection="All"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="false"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
	</system.web>
	<location path="Auth">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="msn2.css">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="Images">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>
