A
{
    COLOR: blue;
    TEXT-DECORATION: underline
}
A:hover
{
    COLOR: red;
    TEXT-DECORATION: underline
}
BODY
{
    FONT-FAMILY: Arial
}
.TOC
{
}
.TOC A
{
    COLOR: white
}
.TOC A:hover
{
    COLOR: aqua
}
TD.clsBlueBack
{
    BACKGROUND-COLOR: #4f7fb0;
    COLOR: white
}
TD.clsBlueBack A
{
    COLOR: white
}
TD.clsBlueBack A:hover
{
    COLOR: aqua
}
.clsRptNote
{
    BORDER-BOTTOM: solid;
    BORDER-LEFT: solid;
    BORDER-RIGHT: solid;
    BORDER-TOP: solid;
    COLOR: red;
    FONT-SIZE: smaller;
    FONT-STYLE: italic
}
.clsRpt
{
    BORDER-BOTTOM: thin solid;
    BORDER-LEFT: thin solid;
    BORDER-RIGHT: thin solid;
    BORDER-TOP: thin solid;
    PADDING-BOTTOM: 3px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 3px;
    PADDING-TOP: 3px
}
.clsRptBody1
{
    BORDER-BOTTOM: 1pt solid;
    BORDER-LEFT: 1pt solid;
    BORDER-RIGHT: 1pt solid;
    BORDER-TOP: 1pt solid;
    FONT-SIZE: smaller
}
.clsRptBody2
{
    BORDER-BOTTOM: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-SIZE: smaller;
    MARGIN-TOP: 0px
}
.clsRptTop
{
    BACKGROUND-COLOR: lightgrey;
    BORDER-BOTTOM: thin solid;
    BORDER-LEFT: thin solid;
    BORDER-RIGHT: thin solid;
    BORDER-TOP: thin solid;
    FONT-SIZE: smaller;
    FONT-WEIGHT: bolder;
    MARGIN: 1px
}
.clsWiz
{
    BORDER-BOTTOM: thin solid;
    BORDER-LEFT: thin solid;
    BORDER-RIGHT: thin solid;
    BORDER-TOP: thin solid;
    PADDING-BOTTOM: 5pc;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 5px
}
.clsWizTop
{
    BACKGROUND-COLOR: lightgrey;
    BORDER-BOTTOM: thin solid;
    BORDER-LEFT: thin solid;
    BORDER-RIGHT: thin solid;
    BORDER-TOP: thin solid
}
.clsWizBody1
{
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: thin solid;
    BORDER-LEFT: thin solid;
    BORDER-RIGHT: thin solid;
    BORDER-TOP: thin solid
}
.clsWizBody2
{
    BACKGROUND-COLOR: #ececec;
    BORDER-BOTTOM: thin solid;
    BORDER-LEFT: thin solid;
    BORDER-RIGHT: thin solid;
    BORDER-TOP: thin solid
}
.clsRptTop A
{
    COLOR: black;
    TEXT-DECORATION: none
}
.clsRptBody1 A
{
    COLOR: black;
    TEXT-DECORATION: none
}
.clsRptBody2 A
{
    COLOR: black;
    TEXT-DECORATION: none
}
.clsRptTop A:hover
{
    COLOR: black;
    TEXT-DECORATION: none
}
.clsRptBottom
{
    FONT-SIZE: smaller
}
