<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="mobileClientVersion" value="1.5.0.0"/>
    <add key="clientCallSleepTimespan" value="00:00:07" />
  </appSettings>
  <connectionStrings>
    <add name="ShoppingListConnectionString" connectionString="Data Source=randy;Initial Catalog=ShoppingList;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <authentication mode="Windows"/>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding>
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="binaryHttpBinding">
          <binaryMessageEncoding />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="msn2.net.ShoppingList.ListDataService">
        <endpoint address="http://svc.listgo.mobi/lds.svc" binding="customBinding" bindingConfiguration="binaryHttpBinding" contract="msn2.net.ShoppingList.IListDataService" listenUri="http://svc.listgo.mobi/lds.svc" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
