<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ShoppingListService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="mobileClientVersion" value="1.5.0.0"/>
    <add key="clientCallSleepTimespan" value="00:00:07" />
  </appSettings>
  <connectionStrings>
    <add name="ShoppingListConnectionString" connectionString="Data Source=stan;Initial Catalog=ShoppingList;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0">
    </compilation>
    <authentication mode="Windows"/>
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="silverlightServiceBehavior" name="msn2.net.ShoppingList.ListDataService">
        <endpoint address="http://svc.listgo.mobi/sl/lds.svc" binding="basicHttpBinding" bindingName="silverlightBinding" contract="msn2.net.ShoppingList.IListDataService" listenUri="http://svc.msn2.net/sl/lds.svc"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="silverlightServiceBehavior" name="msn2.net.ShoppingList.ListAuthenticationService">
        <endpoint address="http://svc.listgo.mobi/sl/la.svc" binding="basicHttpBinding" bindingName="silverlightBinding" contract="msn2.net.ShoppingList.IListAuthentication" listenUri="http://svc.msn2.net/sl/la.svc"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="silverlightBinding">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="silverlightServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
