.clsButton
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT-COLOR: #808080;
    BORDER-BOTTOM-COLOR: #c0c0c0;
    COLOR: #ffffff;
    BORDER-TOP-COLOR: #808080;
    FONT-FAMILY: Verdana, Arial, Sans-Serif;
    BACKGROUND-COLOR: #000080;
    BORDER-RIGHT-COLOR: #c0c0c0
}
.clsErrorText
{
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Sans-Serif
}
.clsHeaderText
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: #003399;
    FONT-FAMILY: Verdana, Arial, Sans-Serif
}
.clsHeadingText
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    FONT-FAMILY: Verdana, Arial, Sans-Serif
}
.clsInputBox
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Sans-Serif;
    BACKGROUND-COLOR: #dfdfdf
}
.clsNoteHead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #c0e0ff;
    FONT-STYLE: italic
}
.clsNoteTable
{
    BORDER-RIGHT: #000000 2px solid;
    BORDER-TOP: #1658b8 2px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #1658b8 2px solid;
    COLOR: black;
    BORDER-BOTTOM: #000000 2px solid;
    FONT-FAMILY: Verdana, Arial, Sans-Serif;
    BACKGROUND-COLOR: paleturquoise
}
.clsNoteText
{
    FONT-SIZE: 8pt
}
.clsToolbar
{
    COLOR: black;
    BACKGROUND-COLOR: #8cd68c
}
A:active
{
    COLOR: aqua
}
A:link
{
    COLOR: #993333;
    FONT-FAMILY: Verdana, Arial, Sans-Serif;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: crimson;
    FONT-FAMILY: Verdana, Arial, Sans-Serif;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: dodgerblue
}
BODY
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Sans-Serif;
    BACKGROUND-COLOR: #f7ffbd
}
FONT
{
    FONT-FAMILY: Verdana, Arial, Sans-Serif
}
TABLE
{
}
.clsToolbar A:link
{
    COLOR: #993333
}
.clsToolbar A:visited
{
    COLOR: crimson
}
.clsTable
{
    BORDER-RIGHT: #606060 1px solid;
    BORDER-TOP: #808080 1px solid;
    BORDER-LEFT: #808080 1px solid;
    COLOR: black;
    BORDER-BOTTOM: #606060 1px solid;
    FONT-FAMILY: Verdana, Arial, Sans-Serif;
    BACKGROUND-COLOR: #cccccc
}
.clsTableHeader
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: smaller;
    COLOR: white;
    BACKGROUND-COLOR: midnightblue
}
.clsTableBodyEven
{
    FONT-SIZE: smaller;
    BACKGROUND-COLOR: powderblue
}
.clsTableBodyOdd
{
    FONT-SIZE: smaller;
    BACKGROUND-COLOR: #ccccff
}
.clsTableFooter
{
    FONT-SIZE: smaller
}
