body {
    background: black;
    font-size: .80em;
    font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px 0px 0px 3px;
    padding: 0px;
    color: white;
    height: 100%;
}

@media screen and (max-width: 320px) {
    @-ms-viewport {
        width: 320px;
    }
}

.fullImage {
    width: 100%;
    height: 100%;
}

.leftFloat {
    height: 100%;
}

.rightFloat {
    float: right;
    height: 100%;
}

A {
    color: gray;
    text-decoration: none;
}

.thumb {
    padding-right: 3px;
    padding-bottom: 3px;
}

.smallthumb {
    padding: 0px;
    margin: 0px;
}

A.disabledLink {
    color: Gray;
}

.linkPanel {
    float: right;
    padding-right: 3px;
}

.panel {
    height: 48px;
    width: 64px;
    font-size: smaller;
    float: left;
    padding: 2px;
    text-align: center;
}

.smallNote {
    font-size: medium;
    color: gray;
}

.mainItem {
    font-size: large;
    font-weight: bold;
}

A:link {
    text-decoration: none;
    color: navy;
}

.headerLink A:link {
    text-decoration: none;
    color: white;
}

.headerLink A:visited {
    text-decoration: none;
    color: white;
}

.subheader {
    font-size: x-small;
    padding-top: 4px;
    margin-bottom: -2px;
}

.topsubheader {
    font-size: x-small;
    margin-bottom: -2px;
}

.popupPanel {
    position: absolute;
    margin: 0px;
    height: 100%;
    width: 100%;
    visibility: hidden;
    background-color: #222222;
    text-align: center;
    vertical-align: middle;
    opacity: 0.9;
}
.popupButton {
    width: 100px;
    padding: 5px;
    margin: 5px;
    height: 30px;
}
.onOffButton {
    width: 75px;
    height: 30px;
}
.toggleButton {
    width: 150px;
    height: 30px;
}