.mstheme
{
	separator-image: url(horizontal rule.gif);
	list-image-1: url(bd14868_.gif);
	list-image-2: url(bd10265_.gif);
	list-image-3: url(bd21534_.gif);
	nav-banner-image: url(redback.gif);
	navbutton-horiz-normal: url(item unselected.gif);
	navbutton-horiz-hovered: url(item highlighted.gif);
	navbutton-horiz-pushed: url(item selected.gif);
	navbutton-vert-normal: url(strvertbtnne.gif);
	navbutton-vert-hovered: url(strvertbtnhe.gif);
	navbutton-vert-pushed: url(strvertbtnse.gif);
	navbutton-home-normal: url(strhomebtnne.gif);
	navbutton-home-hovered: url(strhomebtnhe.gif);
	navbutton-home-pushed: url(strhomebtnse.gif);
	navbutton-next-normal: url(strnextbtnne.gif);
	navbutton-next-hovered: url(strnextbtnhe.gif);
	navbutton-next-pushed: url(strnextbtnse.gif);
	navbutton-prev-normal: url(strprevbtnne.gif);
	navbutton-prev-hovered: url(strprevbtnhe.gif);
	navbutton-prev-pushed: url(strprevbtnse.gif);
	navbutton-up-normal: url(strupbtnne.gif);
	navbutton-up-hovered: url(strupbtnhe.gif);
	navbutton-up-pushed: url(strupbtnse.gif);
}
.mstheme-bannertxt
{
	font-family: Tahoma, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 5;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Tahoma, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-vert-navtxt
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxthome
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtup
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
