.mstheme
{
	top-bar-button: url(strglobalc.gif);
	navbutton-background-color: rgb(102,153,255);
}
.mstheme-topbar-font
{
	font-family: Arial, Helvetica;
	color: rgb(0,0,0);
	font-size: 8pt;
}
body
{
	font-family: Arial, Helvetica;
	background-image: url(blackbg.gif);
}
h1
{
	font-family: Arial, Helvetica;
}
h2
{
	font-family: Arial, Helvetica;
}
h3
{
	font-family: Arial, Helvetica;
}
h4
{
	font-family: Arial, Helvetica;
}
h5
{
	font-family: Arial, Helvetica;
}
h6
{
	font-family: Arial, Helvetica;
}
