vti_encoding:SR|utf8-nl
http\://giesler.org:_borders/bottom.htm _borders/top.htm
pictures/microsoft/visitors/:pictures/microsoft/index.html
sara/:aboutme/index.html
http\://www.journaltimes.com:home/links.html
http\://mg.dhs.org/:redirect.html
http\://www.comedycentral.com:home/links.html home/default.asp
http\://www.mtv.com:home/links.html home/default.asp
http\://www.americanfunds.com:home/default.asp
http\://owa/:home/default.asp
http\://www.microsoft.com/windows2000:_borders/bottom.htm
http\://www.google.com/custom:home/links.html home/default.asp
blackbg.gif:email/index.html aboutme/index.html
javascript\:location.reload():500-100.asp
http\://www.excite.com:home/links.html home/default.asp
http\://www.usatoday.com:home/links.html
http\://www.msn2.net:default.asp
http\://www.activewin.com:home/default.asp
http\://mail.yahoo.com:home/default.asp
http\://abcnews.go.com/:home/links.html home/default.asp
http\://www.badgerherald.com:home/default.asp
http\://www.hoofers.org/:aboutme/index.html
http\://www.lycos.com/cgi-bin/pursuit:home/links.html home/default.asp
pictures/microsoft/people/:pictures/microsoft/index.html
http\://seattle.citysearch.com/:home/default.asp
http\://www.yahoo.com:home/links.html home/default.asp
http\://www.msnbc.com:home/links.html home/default.asp
http\://moneycentral.msn.com:home/default.asp
http\://slate.msn.com:home/default.asp
http\://www.cnn.com:home/links.html home/default.asp
http\://www.microsoft.com/commerceserver:home/default.asp default.asp
http\://www.abc.com:home/links.html home/default.asp
http\://www.uwbadgers.com/:home/default.asp
http\://altavista.digital.com/cgi-bin/query:home/links.html home/default.asp
http\://seattletimes.nwsource.com/:home/default.asp
file\://kyle/public:home/default.asp
http\://msn.gist.com/tv/grid.jsp:home/default.asp
http\://espn.go.com:home/links.html
http\://www.tvguide.com:home/links.html
http\://www.cs.wisc.edu:aboutme/index.html home/default.asp
_vti_script/stuff_search.html0.idq:stuff/_derived/search.html0.htx
email/:page/default.asp stuff/index.html
http\://www.hoofers.org/outing/:aboutme/index.html
http\://members.xoom.com/nkauffma/:friends/other/index.html
http\://mike.giesler.org:_borders/bottom.htm
http\://www.m-w.com/cgi-bin/dictionary:home/links.html home/default.asp
http\://www.tvguide.com/listings/:home/links.html
https\://www.aimfunds.com/inaccount/index.html:home/default.asp
http\://pics/:home/default.asp
http\://www.microsoft.com:stuff/resume.html
pictures/microsoft/rainier/:pictures/microsoft/index.html
<%escapeurl vpath%>:stuff/_derived/search.html0.htx
http\://www.uwp.edu:stuff/resume.html
http\://www.wisc.edu:aboutme/index.html home/default.asp stuff/resume.html
http\://www.wisc.edu/union/:home/default.asp
https\://onlinebanking-nw.bankofamerica.com:home/default.asp
pictures/microsoft/olympicnp/:pictures/microsoft/index.html
camping/:aboutme/index.html
http\://www.hotmail.msn.com:home/default.asp
http\://www.microsoft.com/ms.htm:home/default.asp
http\://uwalumni.com/email:home/default.asp
http\://beta.windowsupdate.com:home/default.asp
http\://www.wsdot.wa.gov/pugetsoundtraffic/:home/default.asp
http\://groups.google.com/groups:home/default.asp
http\://mg.dhs.org:redirect.html stuff/_derived/search.html0.htx stuff/resume.html stuff/search.html
<%= strurl %>:500-100.asp
http\://www.blicomputers.com:stuff/resume.html
http\://www.cbs.com:home/links.html home/default.asp
http\://www.discovery.com:home/links.html home/default.asp
http\://www.newscientist.com/news/:home/default.asp
http\://www.rgiesler.com:family/index.html oldnews.html family/giesler/index.html
http\://www.msn.com:home/default.asp
http\://www.cardinal.wisc.edu:home/default.asp
mailto\:giesler@blicomputers.com:stuff/resume.html
http\://www.lycos.com:home/links.html home/default.asp
http\://msdn.microsoft.com/default.asp:home/default.asp
http\://www.foxsports.com:home/links.html
http\://my.yahoo.com:home/default.asp
http\://www.microsoft.com/technet:home/default.asp
http\://www.schwab.com:home/default.asp
http\://www.nbc.com:home/links.html home/default.asp
http\://www.ask.com/main/askjeeves.asp:home/links.html home/default.asp
http\://www.excite.com/search.gw:home/links.html home/default.asp
http\://www.casecorp.com:stuff/resume.html
http\://nytimes.com:home/default.asp
pictures/microsoft/helens/:pictures/microsoft/index.html
file\://sp/dfs/software:home/default.asp
http\://www.theonion.com:home/links.html home/default.asp
http\://www.av.com:home/links.html home/default.asp
http\://cws.internet.com/new.html:home/default.asp
http\://www.thex-files.com:aboutme/index.html
http\://www.betaplace.com:home/default.asp
pictures/microsoft/atwork/:pictures/microsoft/index.html
https\://mail.microsoft.com/exchange:home/default.asp
http\://seattlep-i.nwsource.com/:home/default.asp
http\://www.fox.com:home/links.html home/default.asp
http\://news.com:home/default.asp
mailto\:mike@giesler.org:stuff/index.html
http\://search.yellowpages.msn.com/yellowpages/results:home/default.asp
http\://support.microsoft.com/default.aspx:home/default.asp
<body bgcolor=:sds1.asp
http\://search.yahoo.com/bin/search:home/links.html home/default.asp
http\://maps.yahoo.com:home/default.asp
http\://slashdot.org:home/default.asp
http\://mail.giesler.org:home/default.asp
http\://www.zurichfunds.com/index.html:home/default.asp
https\://www.citibank.com/us/cards/index.htm:home/default.asp
http\://www.norstanconsulting.com:aboutme/index.html
http\://web.wt.net/~simple:family/index.html
http\://amazon.com:home/default.asp
