<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>\\randy\websites\svc.listgo.mobi</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/ListServices.dll">
      <publishTime>05/21/2012 18:02:04</publishTime>
    </File>
    <File Include="bin/ListServices.pdb">
      <publishTime>05/21/2012 18:02:04</publishTime>
    </File>
    <File Include="bin/ListServiceSite.dll">
      <publishTime>05/21/2012 18:02:04</publishTime>
    </File>
    <File Include="bin/ListServiceSite.pdb">
      <publishTime>05/21/2012 18:02:04</publishTime>
    </File>
    <File Include="lds.svc">
      <publishTime>03/16/2011 18:59:01</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>05/21/2012 18:00:36</publishTime>
    </File>
  </ItemGroup>
</Project>