<xmserverconfig>
  <entry name="Database/Server" unit="-" description="Database server." value="(local)" />
  <entry name="Database/Database" unit="-" description="Database name." value="xmcatalog">
  </entry>
  <entry name="Database/UseNT" unit="Boolean" description="Use NT security to connect to the database." value="false">
  </entry>
  <entry name="Database/Username" unit="-" description="Username given during database conenct. Ignored if using NT security." value="sa">
  </entry>
  <entry name="Database/Password" unit="-" description="Password used during database connect. Ignored if using NT security." value="">
  </entry>
  <entry name="Query/LimitIndex" unit="-" description="Number of fields non-paying users are allowed in their query index." value="3">
  </entry>
  <entry name="Query/LimitFilter" unit="-" description="Number of fields non-paying users are allowed in their query filter. Does not include catagory." value="3">
  </entry>
  <entry name="Net/ClientPort" unit="-" description="Port number at which the client is known to listen." value="25347">
  </entry>
  <entry name="Net/ServerPort" unit="-" description="Port the server should listen on." value="25346">
  </entry>
  <entry name="Net/ServerIp" unit="-" description="NOTE: doesent actually bind to this IP! Just reports it to the client!." value="0.0.0.0">
  </entry>
  <entry name="Net/PingTimeout" unit="Milliseconds" description="Timespan to wait for connection and then for data during a client ping." value="750">
  </entry>
  <entry name="Net/KeepAliveInterval" unit="Minutes" description="Interval between keep-alive requests sent to the client." value="15">
  </entry>
  <entry name="Net/DormantConnectionTimeout" unit="Minutes" description="Timeout after which dormant (non-logged in still connected) connections are dropped." value="10">
  </entry>
  <entry name="Net/LinkDeadConnectionTimeout" unit="Minutes" description="Timeout after which link-dead (connections that stop responding to keep-alives) are dropped." value="20">
  </entry>
  <entry name="Misc/DefaultVersion" unit="-" description="Version string that the server assigns to connection that do not provide a version number." value="0.50">
  </entry>
  <entry name="Misc/CurrentVersion" unit="-" description="Version string that the server assumes is the current client version. Server will only query the database if the client's version differs from this value." value="0.70">
  </entry>
  <entry name="Query/StorageTimeout" unit="Minutes" description="Timeout after which the server will refresh its cached data concerning which users are sharing a particular file." value="10">
  </entry>
  <entry name="Query/ContestFieldCutoff" unit="-" description="Maximum number of indexed fields for a picture (agregate of all fields in all indexes) before the server will not return that picture during a contest query. Ex: cuttoff is 5, any picture with 5 or less fields will be used in the contest." value="5">
  </entry>
  <entry name="Query/SearchCutoff" unit="-" description="Maximum number of pictures the server will examine during a query.  Once this limit is reached, the server will stop processing the query and return whatever results it has accumulated so far." value="5000">
  </entry>
  <entry name="Query/ResultsCutoff" unit="-" description="Maximum number of results the server will find for a query. Once this limit is reached, the server stops processing the query and returns the results." value="20">
  </entry>
  <entry name="Query/QueryProcessorCount" unit="-" description="Number of query processors to run. Use one less than the number of CPUs in the system." value="1">
  </entry>
  <entry name="Net/ConnectionCheckInterval" unit="Minutes" description="Interval between Connection Checks.  A Connection Check examines each active connection, and decides whether or not to close it based on how long the connection has been dormant or link-dead." value="5">
  </entry>
  <entry name="Query/MediaRebuildInterval" unit="Minutes" description="Interval at which the server rebuilds its list of pictures. This is a very lengthy procedure and should not be done more than once per hour." value="90">
  </entry>
</xmserverconfig>