<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>\\kenny\aspnet\pics.msn2.net</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="Admin/AuthNewCreateLogin.aspx">
      <publishTime>01/02/2011 13:39:23</publishTime>
    </File>
    <File Include="Admin/AuthNewLogin.aspx">
      <publishTime>01/02/2011 13:44:01</publishTime>
    </File>
    <File Include="Admin/AuthNewLoginNew.aspx">
      <publishTime>01/02/2011 13:39:22</publishTime>
    </File>
    <File Include="Auth/AuthStyles.css">
      <publishTime>01/02/2011 13:33:24</publishTime>
    </File>
    <File Include="Auth/ForgotPassword.aspx">
      <publishTime>01/02/2011 13:39:22</publishTime>
    </File>
    <File Include="Auth/Login.aspx">
      <publishTime>01/02/2011 13:39:22</publishTime>
    </File>
    <File Include="Auth/Logout.aspx">
      <publishTime>01/02/2011 13:39:21</publishTime>
    </File>
    <File Include="Auth/NewLogin.aspx">
      <publishTime>12/02/2011 20:39:36</publishTime>
    </File>
    <File Include="Auth/ResetPassword.aspx">
      <publishTime>01/02/2011 13:39:21</publishTime>
    </File>
    <File Include="Auth/why.aspx">
      <publishTime>01/02/2011 13:39:20</publishTime>
    </File>
    <File Include="bin/msn2.net.Pictures.dll">
      <publishTime>04/16/2012 21:54:24</publishTime>
    </File>
    <File Include="bin/msn2.net.Pictures.pdb">
      <publishTime>12/02/2011 20:43:38</publishTime>
    </File>
    <File Include="bin/PictureHttpHelpers.dll">
      <publishTime>04/16/2012 21:54:24</publishTime>
    </File>
    <File Include="bin/PictureHttpHelpers.pdb">
      <publishTime>04/16/2012 21:54:24</publishTime>
    </File>
    <File Include="bin/PicWeb.dll">
      <publishTime>04/16/2012 21:54:25</publishTime>
    </File>
    <File Include="bin/PicWeb.pdb">
      <publishTime>04/16/2012 21:54:25</publishTime>
    </File>
    <File Include="Categories.aspx">
      <publishTime>01/02/2011 14:04:51</publishTime>
    </File>
    <File Include="Controls/AutoTimer.ascx">
      <publishTime>01/02/2011 13:39:19</publishTime>
    </File>
    <File Include="Controls/_contentbox.ascx">
      <publishTime>01/02/2011 13:39:20</publishTime>
    </File>
    <File Include="default.aspx">
      <publishTime>01/02/2011 13:44:31</publishTime>
    </File>
    <File Include="EditMyInfo.aspx">
      <publishTime>01/02/2011 13:44:00</publishTime>
    </File>
    <File Include="Images/blank.gif">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/button_left.gif">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/button_return.gif">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/button_right.gif">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/folder.gif">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/folder.png">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/Folder12x12.png">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/folder64x64.png">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/folderEmpty.png">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/ie.jpg">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/info.jpg">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/info_icon.png">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/msn2mobile.jpg">
      <publishTime>09/06/2011 12:07:06</publishTime>
    </File>
    <File Include="Images/msn2needlewash.gif">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/msn2summer.gif">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/msn2summer.png">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/msn2summer2.png">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/msn2summer3.png">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/msn2summer4.gif">
      <publishTime>09/06/2011 13:52:51</publishTime>
    </File>
    <File Include="Images/msn2summer4.png">
      <publishTime>09/06/2011 12:19:13</publishTime>
    </File>
    <File Include="Images/msn2_home.gif">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/msn2_small.jpg">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/msn2_small_panel.jpg">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/next.png">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/pipe-center.gif">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/pipe-left.gif">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/pipe-right.gif">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/prev.png">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/search.gif">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/sideVerticalLine.gif">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/slideshow.png">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/slideshow12x9.png">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/star.gif">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/starf.gif">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/stop_icon.png">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/top_msn2.gif">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/top_needle.gif">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/top_panel.gif">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Images/trans.gif">
      <publishTime>01/02/2011 13:33:41</publishTime>
    </File>
    <File Include="Impersonate.aspx">
      <publishTime>01/02/2011 13:44:00</publishTime>
    </File>
    <File Include="Mobile/Auth/Login.aspx">
      <publishTime>09/06/2011 13:53:11</publishTime>
    </File>
    <File Include="Mobile/Categories.aspx">
      <publishTime>09/06/2011 13:53:11</publishTime>
    </File>
    <File Include="Mobile/default.aspx">
      <publishTime>09/06/2011 13:53:12</publishTime>
    </File>
    <File Include="Mobile/Images/mobileheadtitle.gif">
      <publishTime>01/03/2011 13:01:59</publishTime>
    </File>
    <File Include="Mobile/Images/mobileheadwash.gif">
      <publishTime>01/03/2011 13:01:59</publishTime>
    </File>
    <File Include="Mobile/mobile.css">
      <publishTime>01/03/2011 13:01:59</publishTime>
    </File>
    <File Include="Mobile/Picture.aspx">
      <publishTime>01/03/2011 13:01:59</publishTime>
    </File>
    <File Include="Mobile/PictureDetails.aspx">
      <publishTime>01/03/2011 13:01:59</publishTime>
    </File>
    <File Include="Mobile/Pictures.aspx">
      <publishTime>09/06/2011 13:53:11</publishTime>
    </File>
    <File Include="Mobile/Search.aspx">
      <publishTime>09/06/2011 13:53:11</publishTime>
    </File>
    <File Include="msn2.css">
      <publishTime>01/02/2011 13:35:31</publishTime>
    </File>
    <File Include="picview.aspx">
      <publishTime>01/02/2011 13:39:18</publishTime>
    </File>
    <File Include="picviewss.aspx">
      <publishTime>01/02/2011 13:39:17</publishTime>
    </File>
    <File Include="RandomPictureService.asmx">
      <publishTime>01/02/2011 13:36:29</publishTime>
    </File>
    <File Include="rss.aspx">
      <publishTime>01/02/2011 13:39:17</publishTime>
    </File>
    <File Include="SearchCriteria.aspx">
      <publishTime>01/02/2011 13:44:00</publishTime>
    </File>
    <File Include="SearchResults.aspx">
      <publishTime>01/02/2011 13:44:00</publishTime>
    </File>
    <File Include="SearchRun.aspx">
      <publishTime>01/02/2011 13:44:31</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>04/16/2012 21:54:26</publishTime>
    </File>
  </ItemGroup>
</Project>