body {
    background: black;
    font-size: .80em;
    font-family: "Segoe UI", "Helvetica Neue" , "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px 0px 0px 3px;
    padding: 0px;
    color: white;
    height: 100%;    
}

@media screen and (max-width: 320px) 
{
  @-ms-viewport { width: 320px; }
}

.fullImage 
{
    width: 100%;
    height: 100%;
}

.leftFloat
{
    height: 100%
}

.rightFloat
{
    float: right;
    height: 100%
}

A
{
    color: White;
    text-decoration: none
}

.thumb
{
    padding-right: 3px;
    padding-bottom: 3px;
}

A.disabledLink
{
    color: Gray;
}