<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CamLib.Properties.Settings.CamsConnectionString" connectionString="Data Source=randy;Initial Catalog=Cams;Persist Security Info=True;User ID=CamsUser;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>