<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>\\randy\websites\listgo.mobi</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/ListServices.dll">
      <publishTime>05/21/2012 18:08:14</publishTime>
    </File>
    <File Include="bin/ListServices.pdb">
      <publishTime>05/21/2012 18:08:14</publishTime>
    </File>
    <File Include="bin/SLExpress.dll">
      <publishTime>05/21/2012 18:08:15</publishTime>
    </File>
    <File Include="bin/SLExpress.pdb">
      <publishTime>05/21/2012 18:08:14</publishTime>
    </File>
    <File Include="Default.aspx">
      <publishTime>09/22/2011 19:16:11</publishTime>
    </File>
    <File Include="favicon.ico">
      <publishTime>03/20/2011 21:41:54</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>01/03/2011 13:01:44</publishTime>
    </File>
    <File Include="listgo.css">
      <publishTime>09/22/2011 19:16:09</publishTime>
    </File>
    <File Include="signin.aspx">
      <publishTime>09/22/2011 20:20:18</publishTime>
    </File>
    <File Include="signout.aspx">
      <publishTime>09/22/2011 19:30:53</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>06/21/2011 20:13:24</publishTime>
    </File>
  </ItemGroup>
</Project>