A
{
    BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    BORDER-LEFT: thin;
    COLOR: #006699;
    BORDER-BOTTOM: thin;
    TEXT-DECORATION: underline
}
A:hover
{
    COLOR: red;
    TEXT-DECORATION: underline
}
BODY
{
    FONT-FAMILY: Arial
}
.TOC
{
}
.TOC A
{
    COLOR: white
}
.TOC A:hover
{
    COLOR: aqua
}
.clsRptNote
{
    FONT-SIZE: smaller;
    COLOR: red;
    FONT-STYLE: italic
}
.clsRpt
{
    BORDER-RIGHT: mediumblue thin solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: mediumblue thin solid;
    BORDER-LEFT: mediumblue thin solid;
    BORDER-BOTTOM: mediumblue thin solid
}
.clsRptBody1
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: smaller;
    BACKGROUND-COLOR: #dfd8d1
}
.clsRptBody2
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: smaller;
    BACKGROUND-COLOR: #dfe2eb
}
.clsRptTop
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: medium;
    COLOR: white;
    BACKGROUND-COLOR: black
}
.clsWiz
{
    BORDER-RIGHT: mediumblue thin solid;
    BORDER-TOP: mediumblue thin solid;
    BORDER-LEFT: mediumblue thin solid;
    BORDER-BOTTOM: mediumblue thin solid
}
.clsWizTop
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: medium;
    COLOR: mediumblue;
    BACKGROUND-COLOR: #ccbc89
}
.clsWizBody1
{
    FONT-WEIGHT: bolder;
    BACKGROUND-COLOR: #dfc8a1
}
.clsWizBody2
{
    FONT-WEIGHT: bolder;
    BACKGROUND-COLOR: #efe2cb
}
.clsWizBottom
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: smaller;
    BACKGROUND-COLOR: #ccbc89
}
.clsWizHeader
{
    COLOR: mediumblue;
    BACKGROUND-COLOR: #ccbc89
}
.clsTop
{
}
.clsTop FONT
{
}
.clsTop A
{
    COLOR: #e3e3e3
}
.clsFrontPage
{
    FONT-SIZE: smaller
}
.clsFrontPage A
{
    FONT-WEIGHT: bolder
}
.clsAll
{
    FONT-SIZE: smaller
}
.clsAll INPUT
{
    FONT-SIZE: 10pt
}
.clsAll BODY
{
}
.clsRptBottom
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: smaller;
    BACKGROUND-COLOR: gray
}
.clsDQComplete
{
    COLOR: white;
    BACKGROUND-COLOR: green
}
.clsDQIncomplete
{
    COLOR: white;
    BACKGROUND-COLOR: red
}
.clsHeader
{
    COLOR: maroon;
    BACKGROUND-COLOR: #dfdfdf
}
